Source: indicator-keyboard
Section: gnome
Priority: extra
Maintainer: William Hua <william.hua@canonical.com>
Build-Depends: debhelper (>= 8.0.0), dh-autoreconf, libgirepository1.0-dev, valac, valac-0.18-vapi, libgtk-3-dev, libgnomekbd-dev, libibus-1.0-dev (>= 1.5.0)
Standards-Version: 3.9.4
Homepage: https://code.launchpad.net/~attente/+junk/indicator-keyboard
#Vcs-Git: git://git.debian.org/collab-maint/indicator-keyboard.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/indicator-keyboard.git;a=summary

Package: indicator-keyboard
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Keyboard indicator
 This package contains the keyboard indicator.
