Source: ayatana-indicator-keyboard
Standards-Version: 4.7.4
Maintainer: Mike Gabriel <mike.gabriel@das-netzwerkteam.de>
Section: misc
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 cmake-extras,
 intltool,
 libaccountsservice-dev,
 libayatana-common-dev,
 libglib2.0-dev,
 libudev-dev,
 libx11-dev,
 libxkbcommon-dev,
 libxkbregistry-dev,
 libxklavier-dev,
 systemd-dev [linux-any],
Vcs-Browser: https://salsa.debian.org/debian-ayatana-team/ayatana-indicator-keyboard
Vcs-Git: https://salsa.debian.org/debian-ayatana-team/ayatana-indicator-keyboard.git
Homepage: https://github.com/AyatanaIndicators/ayatana-indicator-keyboard

Package: ayatana-indicator-keyboard
Architecture: any
Depends:
 ayatana-indicator-common,
 matekbd-keyboard-display | tecla,
 ${misc:Depends},
 ${shlibs:Depends},
Description: Ayatana Indicator for managing keyboard layout and desktop language
 This Ayatana Indicator for keyboard layout configuration shows as an
 icon in the top panel of indicator aware destkop environments. It should
 appear on the very left (or the very right for RTL desktop layouts) and
 present itself to the user with a language letter symbol.
 .
 With the keyboard indicator, you can switch between keyboard layouts or
 languages, and it helps you identifying which layouts are currently in
 use.
